#idea
*.iml
.idea

#building
.allure
**/target/
**/build/
**/out/
**/testdata

#result
*.log
logs/
allure-results/
classes/

#configurations
.gradle
**/gradle/wrapper/
gradlew
gradlew.bat

#other
cucumber-steps/out
common/out
pg-rest-client/out
~*.xlsx
.classpath
.project
.settings
**/bin

# Docker enviroment file
personal.env

# Docker temp folders
jv-metrics/docker/.m2
jv-metrics/docker/.virtualenvs
**/debug.groovy
